@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

:root {
  --Very-dark-blue: hsl(233, 47%, 7%); /*(main background) */
  --Dark-desaturated-blue: hsl(244, 38%, 16%); /* (card background) */
  --Soft-violet: hsl(277, 64%, 61%); /* (accent) */
  --White: hsl(0, 0%, 100%); /* (main heading, stats) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6); /* (stat headings) */
  --alpha: 0.8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--Very-dark-blue);
}

h1,
.nums {
  color: var(--White);
}

p,
.data {
  color: var(--Slightly-transparent-white);
}

h1,
p,
.data {
  font-family: "Lexend Deca", sans-serif;
}

.nums {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: .9px;
}

#content {
  background-color: var(--Dark-desaturated-blue);
  width: 910px;
  height: 365px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 0.95em;
}

img {
  width: 450px;
  height: 365px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.image {
  float: right;
  padding-left: 50px;
  position: relative;
}

.stats {
  padding: 50px;
}

.insights {
  color: var(--Soft-violet);
}

.new-line:after,
.nums::after {
  content: "\A";
  white-space: pre;
}

h1 {
  padding-bottom: 30px;
}

.description {
  padding-bottom: 60px;
}

.data {
  display: flex;
  line-height: 20px;
}

.data1,
.data2 {
  padding-right: 60px;
}

.data1,
.data2,
.data3 {
  font-size: 0.7em;
}

p {
  font-size: 0.8em;
  line-height: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(88, 19, 131, 0.596);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 450px;
}
